<!doctype html>
<html>
<head>
<link href="https://www.gravatar.com/avatar/693f05349fa5386c34f7957d113199de?s=328&d=identicon&r=PG&f=1" rel="icon">
 <meta name="description" content="Blogs on web development by Areze. Posts include tutorials, reviews and more. The page is also daily updated with new blogs so stick around.">
 <meta name="keywords" content="HTML, CSS, JavaScript">
   <meta name="author" content="Areze">
   <meta property="og:title" content="Areze's Blog - Blogs on web development and more!">
<meta property="og:description" content="Blogs on web development by Areze. Posts include tutorials, reviews and more. The page is also daily updated with new blogs so stick around.">
<meta property="og:image" content="https://www.gravatar.com/avatar/693f05349fa5386c34f7957d113199de?s=328&d=identicon&r=PG&f=1">
<meta property="og:url" content="arezeblog.herokuapp.com">
<meta name="twitter:title" content="Areze's Blog - Blogs on web development and more! ">
<meta name="twitter:description" content=" A blog made by areze about web development.">
<meta name="twitter:image" content="https://www.gravatar.com/avatar/693f05349fa5386c34f7957d113199de?s=328&d=identicon&r=PG&f=1">
<meta name="twitter:card" content="summary_large_image">


  <style>
* {
  font-family:  Montserrat,sans-serif;
  text-align: center;



}
#content {
  width: 50%;
  margin-top:25px;
}
h1 {
  font-weight: 900;
  line-height: 1.1;
}

body {
  display: grid;
  justify-items: center;
}

</style>
</head>
<body>
	<h1><%= article.title %></h1>
  <small><%= article.date %> </small>
  <div id="content"></div>

  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
   marked.setOptions({
  breaks: true
});
    document.getElementById('content').innerHTML =
      marked("<%= article.content %>");
  </script>
</body>
</html>
