<!doctype html>
<html>
<head>
 <link href="https://www.gravatar.com/avatar/693f05349fa5386c34f7957d113199de?s=328&d=identicon&r=PG&f=1" rel="icon">
 <meta name="description" content="Blogs on web development by Areze. Posts include tutorials, reviews and more. The page is also daily updated with new blogs so stick around.">
 <meta name="keywords" content="HTML, CSS, JavaScript, Web development, Areze, Programming, Coding">
   <meta name="author" content="Areze">
   <meta property="og:title" content="Areze's Blog - Blogs on web development and more!">
<meta property="og:description" content="Blogs on web development by Areze. Posts include tutorials, reviews and more. The page is also daily updated with new blogs so stick around.">
<meta property="og:image" content="https://www.gravatar.com/avatar/693f05349fa5386c34f7957d113199de?s=328&d=identicon&r=PG&f=1">
<meta property="og:url" content="arezeblog.herokuapp.com">
<meta name="twitter:title" content="Areze's Blog - Blogs on web development and more! ">
<meta name="twitter:description" content="Blogs on web development by Areze. Posts include tutorials, reviews and more. The page is also daily updated with new blogs so stick around.">
<meta name="twitter:image" content="https://www.gravatar.com/avatar/693f05349fa5386c34f7957d113199de?s=328&d=identicon&r=PG&f=1">
<meta name="twitter:card" content="summary_large_image">
 <style>
* {
  font-family: Trebuchet MS;
}
.article-container{
  width: 50%;
  text-align: left;
 
}

a{
	color: blue;
}
body {
  display: grid;
  justify-items: center;
}
h1 {
	text-align: left;
}
p {
	text-align: left;
}
</style>
</head>

<body>

<h1> My Blog! </h1>
<p>Official blog of Areze about web development. </p>

<% for(let i=0;i<articles.length;i++){ %>
	
<div class="article-container">
<a href="https://arezeblog.herokuapp.com/article/<%=articles[i].title.split(" ").join("-")%>"><h2><%= articles[i].title %></h2></a>
<small><%= articles[i].date %> </small>
<p><%= articles[i].description%></p>

</div>

<%} %>




</body>



</html>
